.searchbar {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}

.searchbar__container {
	width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40px;
	margin-bottom: 10px;
	background-color: var(--text-color);
	height: 40px;
}

.searchbar__icon {
  color: var(--bg-color);
  margin-right: 5px;
}

.searchbar__container > input {
	width: 95%;
	height: 30px;
	border-radius: 40px;
	border: 1px solid gray;
	padding: 5px;
	display: flex;
	align-items: center;
}
